@import url("https://fonts.googeapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  height: 100%;
  background-color: #171c25 !important;

  &::before {
    content: "";
    position: fixed;
    z-index: -10;
    inset: 0;
    width: 100%;
    height: 100%;
    background: url("/src/assets/image/bg-main.png") no-repeat top/cover;
  }
}
